* {
    box-sizing: border-box;
}
header{
    text-align: center;
}
header h2 {
    color: white;
    background-color: #6b240c;
    padding: 50px;
    font-size: 35px;
}
div {
    margin: auto;
    width: 70%;
}    
.tab {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 10px;
  }
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
} 
.tabcontent {
    display:none;
    padding: 6px 12px;
    height: max-content;
    background-color: #faebde;
    border: 1px solid #fad5b4;
    border-top: none;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
p {
  margin: 0%;
}

.inputbar{
    align-items: center;
    display: flex;
    flex-direction: column;
}